.containerCarrinho {
    width:60%;
}

.containerCarrinhoProdutos {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    border:solid;
    border-radius:6px;
    border-color:lightblue;
    border-width:1.9px;
}

.ImgNome {
    justify-self:flex-start;
}

.End {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-basis:1%;
    justify-self:flex-end;
}

.carProdPreco,.carTotal {
    color: grey;
    font-size: 17px;
}

.carProdNome {
    font-weight:bold;
}

.carProdImg {
    height:180px;
    width: 180px;
    border:solid;
    border-style:ridge;
    border-color:lightgray;
    border-radius:6px;
}
