* {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor:pointer;
}
.App {
    text-align: center;
    justify-content:center;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-basis: 75%;
    margin-top: 25px;
}

.landingBody {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
