.pagProdutoContainer{
    width: 100%;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
}

.left-container{
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 20%;
}

.pagProdutoImagem{

    margin-top: 20px;
    border: 2px solid gray;
    border-radius: 5px;

}

.right-container{
    float:right;
    position: relative;
    justify-content: flex-end;
}

.pagProdutoPreco {
    color: grey;
    font-size: 17px;
}
