#container-forms{
    display:flex;
    align-content: center;
    margin-top: 10vh;
}
form{
    border: gray 1px solid;
    padding: 15px;

}

#login-box input{
    margin-bottom: 10px;
}

button{
    position:relative;
    height:50px;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(25, 19, 114);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover{
    opacity: 0.7;
}

#btn-register{
    margin-top: 5px;
}
