.pagProdutoDescricao {
    font-size:16px;
}

.pagProdutoContainer{
    width: 100%;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;
}

.left-container{
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pagProdutoImagem{

    margin-top: 20px;
    border: 2px solid gray;
    border-radius: 5px;

}

.right-container{
    float:right;
    position: relative;
    justify-content: flex-end;
}

.pagProdutoPreco {
    color: grey;
    font-size: 25px;
    font-weight: 500;
}

#leftArrow {
    margin-bottom: 1vh;
    background: url(../../imagens/Seta.jpg) no-repeat;
    background-position:center;
    background-size:cover;
    border:none;
    width:10px;
    height:100%;
    border-radius:5px;
}

#rightArrow {
    margin-top: 1vh;
    background: url(../../imagens/SetaCima.jpg) no-repeat;
    background-position:center;
    background-size:cover;
    border:none;
    width:10px;
    height:100%;
    border-radius:5px;
}

@media only screen and (max-width: 920px) {
    .left-container{
        float:unset;
        justify-content:center;
        margin-right: 20%;
    }
    .right-container{
        margin:0;
        float:unset;
    }
    .pagProdutoImagem{
        margin:0 0 0 23%;
        width:320px;
    }
}
